services:
  web:
    image: cp0x/pi-tornadomini-interface
    restart: always
    container_name: tornado_ui
    ports:
      - "8080:80"

  tor:
    image: goldy/tor-hidden-service:latest
    container_name: tornado_onion
    restart: always
    depends_on: [ web ]
    environment:
      SERVICE1_TOR_SERVICE_HOSTS: "80:web:80"
      SERVICE1_TOR_SERVICE_VERSION: "3"
    volumes:
      - ./tor_data:/var/lib/tor/hidden_service
