services:
  web-tornadocash-ui:
    image: cp0x/pi-tornadomini-interface:latest
    restart: always
    container_name: web-tornado-cache-ui
    ports:
      - "8080:80"
    networks:
      - tornado_net

  tor-tornadocash:
    image: goldy/tor-hidden-service:latest
    container_name: tor-tornadocash
    restart: always
    depends_on: [ web-tornadocash-ui ]
    environment:
      SERVICE1_TOR_SERVICE_HOSTS: "80:web-tornado-cache-ui:80"
      SERVICE1_TOR_SERVICE_VERSION: "3"
    volumes:
      - ./tor_data:/var/lib/tor/hidden_service
    networks:
      - tornado_net
networks:
  tornado_net:
    driver: bridge